<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>원격 진료 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">원격 진료 시스템</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link" href="">서비스 소개</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="/img/patient.png" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">환자 OOO 님</h1>
                <p class="text-black-50 mb-0">반갑습니다. 어쩌구저쩌구 해보세요.</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">

                <div class="col-lg-9">
                    <h2>나의 건강 상태 확인</h2>
                    <p class="lead">센서를 통해 수집한 나의 건강 상태를 확인하세요.</p>
                    
                    <div class="medical-data">

                        <label for="toggle_button1" class="toggle_button"><h4>심박동수</h4></label>
                        <input type="checkbox" id="toggle_button1">
                        <div id="toggle_contents1">
                            <h6>심박동수란 ~</h6>
                            내용
                        </div>
        
                        <label for="toggle_button2" class="toggle_button"><h4>체온</h4></label>
                        <input type="checkbox" id="toggle_button2">
                        <div id="toggle_contents2">
                            <h6>체온이란 ~</h6>
                            내용
                        </div>
        
                        <label for="toggle_button3" class="toggle_button"><h4>산소포화도</h4></label>
                        <input type="checkbox" id="toggle_button3">
                        <div id="toggle_contents3">
                            <h6>산소포화도란 ~</h6>
                            내용
                        </div>
                        
                        <h5>일주일 건강 상태 확인</h5>
                    </div>

                    <h2>의사 모니터링</h2>
                    <p class="lead">담당 의사와의 모니터링을 통해 상태를 공유하세요.</p>
                    <video id="vp" class="video-player" controls preload="none"
                        data-setup='{ "aspectRatio":"640:300", "playbackRates": [1, 1.5, 2] }' loop="" autoplay="" muted="">
                        <source src="http://ruthetum.cafe24.com/sample/video/1.mp4" type='video/mp4'/>
                    </video>

                </div>



                <!-- <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>의사 모니터링</h2>
                        <p class="lead">담당 의사와의 모니터링을 통해 상태를 공유하세요.</p>
                        <video id="vp" class="video-player" controls preload="none"
                            data-setup='{ "aspectRatio":"640:300", "playbackRates": [1, 1.5, 2] }' loop="" autoplay="" muted="">
                            <source src="http://ruthetum.cafe24.com/sample/video/1.mp4" type='video/mp4'/>
                        </video>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
